.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.result #greeting {
  font-size: 1.2rem;
  font-weight: bold;
}

.result #score {
  font-size: 1.5rem;
  font-weight: bold;
}

.result #average {
  font-size: 1.1rem;
}

.result button {
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
}
