.game {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: min-content;
  margin: auto;
  align-items: center;
}

.game .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top .display {
  padding: 5px 20px 5px 20px;
  line-height: 1.5rem;
}

.game input {
  font-size: large;
}

#word {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2rem;
}

.game .bottom {
  margin-top: 10px;
}

.game button {
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
}

.error {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: min-content;
  margin: auto;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.result #greeting {
  font-size: 1.2rem;
  font-weight: bold;
}

.result #score {
  font-size: 1.5rem;
  font-weight: bold;
}

.result #average {
  font-size: 1.1rem;
}

.result button {
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly90eXBpbmdnYW1lLy4vc3JjL3N0eWxlcy9nYW1lLmNzcyIsIndlYnBhY2s6Ly90eXBpbmdnYW1lLy4vc3JjL3N0eWxlcy9lcnJvci5jc3MiLCJ3ZWJwYWNrOi8vdHlwaW5nZ2FtZS8uL3NyYy9zdHlsZXMvcmVzdWx0LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsVUFBVTtFQUNWLHNCQUFzQjtFQUN0QixZQUFZO0VBQ1osbUJBQW1CO0FBQ3JCOztBQUVBO0VBQ0UsYUFBYTtFQUNiLDhCQUE4QjtFQUM5QixtQkFBbUI7QUFDckI7O0FBRUE7RUFDRSwwQkFBMEI7RUFDMUIsbUJBQW1CO0FBQ3JCOztBQUVBO0VBQ0UsZ0JBQWdCO0FBQ2xCOztBQUVBO0VBQ0UsZUFBZTtFQUNmLG1CQUFtQjtFQUNuQixlQUFlO0FBQ2pCOztBQUVBO0VBQ0UsZ0JBQWdCO0FBQ2xCOztBQUVBO0VBQ0UsMEJBQTBCO0VBQzFCLGlCQUFpQjtFQUNqQixZQUFZO0VBQ1osNEJBQTRCO0VBQzVCLFlBQVk7RUFDWixrQkFBa0I7QUFDcEI7O0FDekNBO0VBQ0UsYUFBYTtFQUNiLHNCQUFzQjtFQUN0QixVQUFVO0VBQ1Ysc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWixtQkFBbUI7QUFDckI7O0FDUEE7RUFDRSxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLFdBQVc7RUFDWCxtQkFBbUI7QUFDckI7O0FBRUE7RUFDRSxpQkFBaUI7RUFDakIsaUJBQWlCO0FBQ25COztBQUVBO0VBQ0UsaUJBQWlCO0VBQ2pCLGlCQUFpQjtBQUNuQjs7QUFFQTtFQUNFLGlCQUFpQjtBQUNuQjs7QUFFQTtFQUNFLDBCQUEwQjtFQUMxQixpQkFBaUI7RUFDakIsWUFBWTtFQUNaLDRCQUE0QjtFQUM1QixZQUFZO0VBQ1osa0JBQWtCO0FBQ3BCIiwiZmlsZSI6ImluZGV4LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5nYW1lIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgd2lkdGg6IDUwJTtcbiAgbWluLXdpZHRoOiBtaW4tY29udGVudDtcbiAgbWFyZ2luOiBhdXRvO1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xufVxuXG4uZ2FtZSAudG9wIHtcbiAgZGlzcGxheTogZmxleDtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICBtYXJnaW4tYm90dG9tOiAxNXB4O1xufVxuXG4udG9wIC5kaXNwbGF5IHtcbiAgcGFkZGluZzogNXB4IDIwcHggNXB4IDIwcHg7XG4gIGxpbmUtaGVpZ2h0OiAxLjVyZW07XG59XG5cbi5nYW1lIGlucHV0IHtcbiAgZm9udC1zaXplOiBsYXJnZTtcbn1cblxuI3dvcmQge1xuICBtYXJnaW4tdG9wOiA1cHg7XG4gIG1hcmdpbi1ib3R0b206IDE1cHg7XG4gIGZvbnQtc2l6ZTogMnJlbTtcbn1cblxuLmdhbWUgLmJvdHRvbSB7XG4gIG1hcmdpbi10b3A6IDEwcHg7XG59XG5cbi5nYW1lIGJ1dHRvbiB7XG4gIHBhZGRpbmc6IDVweCAxMHB4IDVweCAxMHB4O1xuICBmb250LXNpemU6IDEuMnJlbTtcbiAgY29sb3I6IHdoaXRlO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiBkb2RnZXJibHVlO1xuICBib3JkZXI6IG5vbmU7XG4gIGJvcmRlci1yYWRpdXM6IDVweDtcbn1cbiIsIi5lcnJvciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIHdpZHRoOiA1MCU7XG4gIG1pbi13aWR0aDogbWluLWNvbnRlbnQ7XG4gIG1hcmdpbjogYXV0bztcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbn1cbiIsIi5yZXN1bHQge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICB3aWR0aDogMTAwJTtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbn1cblxuLnJlc3VsdCAjZ3JlZXRpbmcge1xuICBmb250LXNpemU6IDEuMnJlbTtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG59XG5cbi5yZXN1bHQgI3Njb3JlIHtcbiAgZm9udC1zaXplOiAxLjVyZW07XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuXG4ucmVzdWx0ICNhdmVyYWdlIHtcbiAgZm9udC1zaXplOiAxLjFyZW07XG59XG5cbi5yZXN1bHQgYnV0dG9uIHtcbiAgcGFkZGluZzogNXB4IDEwcHggNXB4IDEwcHg7XG4gIGZvbnQtc2l6ZTogMS4ycmVtO1xuICBjb2xvcjogd2hpdGU7XG4gIGJhY2tncm91bmQtY29sb3I6IGRvZGdlcmJsdWU7XG4gIGJvcmRlcjogbm9uZTtcbiAgYm9yZGVyLXJhZGl1czogNXB4O1xufVxuIl0sInNvdXJjZVJvb3QiOiIifQ==*/